{{extend 'contact_layout.html'}}
<br />

<h1> <p style="text-align:center; color:white">  Contact Details </p></h1>
<br />
<br />
<br />    
    
<p style="font-size:20px; color:white"> Simran Kedia </p>
<ul>
    <li><div style="font-size:14px; color:white"><b>Email:</b>  simran.kedia@students.iiit.ac.in </div> </li>
    <li><div style="font-size:14px; color:white"><b>Facebook:</b>  http://www.facebook.com/simran.kedia?fref=ts </div> </li>
    <li><div style="font-size:14px; color:white"><b>Phone number:</b>  +91 9581439605 </div> </li>
    <li><div style="font-size:14px; color:white"><b>Address:</b> <br/>Room no 47
        <br/>NBH -Cellar
        <br/>IIIT H </div> </li>
</ul>


<br />
<br />
<br/>
<p style="font-size:20px; color:white"> Gurniamat Kaur </p>
<ul>
    <li><div style="font-size:14px; color:white"><b>Email:</b>  gurniamat.kaur@students.iiit.ac.in </div> </li>
    <li><div style="font-size:14px; color:white"><b>Facebook:</b>  http://www.facebook.com/gurniamat.kaur </div> </li>
    <li><div style="font-size:14px; color:white"><b>Phone number:</b>  +91 9985555064 </div> </li>
    <li><div style="font-size:14px; color:white"><b>Address:</b> <br/>Room no 52
        <br/>NBH -Cellar
        <br/>IIIT H </div> </li>
</ul>
